html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #ccc;
    text-shadow: none;
}

[hidden] {
    display: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul, li {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

fieldset {
    border: 1px solid #ccc;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    vertical-align: middle;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
}

button,
input,
textarea,
input {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
}

.visually__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #181818;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.4rem;
    line-height: 1.5em;
    color: #fff;
}

body.no-scroll {
    overflow: hidden;
}

@media screen and (max-width: 991px) {
    body.show-sidebar {
        overflow: hidden;
    }
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.1em;
}

img {
    -o-object-fit: cover;
    object-fit: cover;
}

/* Blocks */
.page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 991px) {
    .show-sidebar .page {
        position: relative;
    }
}

.page__title {
    margin-bottom: 3rem;
    font-size: 2.1rem;
    color: #fff;
}

.page__title--center {
    text-align: center;
}

@media screen and (max-width: 991px) {
    .page__mask {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }
}

.header {
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 300px);
    background-color: #0D0D0D;
    box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

@media screen and (max-width: 991px) {
    .header {
        width: 100%;
    }
}

.header__left {
    width: 60%;
}

@media screen and (max-width: 991px) {
    .header__left {
        width: 40%;
    }
}

.header__right {
    width: 40%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media screen and (max-width: 991px) {
    .header__right {
        width: 60%;
    }
}

.burger {
    display: none;
    width: 3rem;
    height: 2rem;
    padding: 0;
    background: none;
    border: none;
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.burger::before, .burger::after,
.burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.burger::before, .burger::after {
    content: "";
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity 0.2s linear;
}

.show-sidebar .burger span {
    opacity: 0;
}

.show-sidebar .burger::before, .show-sidebar .burger::after {
    top: 50%;
}

.show-sidebar .burger::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.show-sidebar .burger::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media screen and (max-width: 991px) {
    .burger {
        display: block;
    }
}

.nav--mobile {
    display: none;
    margin-top: 3rem 0;
}

@media screen and (max-width: 991px) {
    .nav {
        display: none;
    }

    .nav--mobile {
        display: block;
    }
}

.nav__list {
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 991px) {
    .nav__list {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.nav__item {
    position: relative;
}

.nav__item:hover .nav__link {
    background-color: #3137C9;
    text-decoration: none;
}

.nav__item:hover > .subnav {
    display: block;
}

@media screen and (max-width: 991px) {
    .nav__item:hover .nav__link {
        background: none;
    }
}

.nav__link {
    display: block;
    padding: 1.35rem;
    font-size: 1.1rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

.nav__link.has-subnav {
    position: relative;
    padding-right: 3.5rem;
}

.nav__link.has-subnav:after {
    content: "";
    display: block;
    margin-top: 2px;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 1.35rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width: 991px) {
    .nav__link {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.6rem;
    }
}

.subnav {
    display: none;
    width: 16.5rem;
    padding: 0.5rem 0;
    background-color: #3137C9;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 0;
}

@media screen and (max-width: 991px) {
    .subnav {
        position: static;
        width: 100%;
        padding-left: 1rem;
        background-color: transparent;
        box-shadow: none;
    }
}

.subnav__link {
    display: block;
    padding: 0.45rem 1.2rem;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.subnav__link:hover {
    background-color: #2c31b4;
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .subnav__link {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.5rem;
    }

    .subnav__link:hover {
        background-color: none;
    }
}

.search {
    width: 100%;
    max-width: 21rem;
    background-color: #202020;
}

.search__input {
    display: block;
    width: 100%;
    padding: 1.2rem 2rem;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    color: #fff;
}

.search__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.search__input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.search__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.search__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.search__input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 991px) {
    .search__input {
        height: 4rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        font-size: 1.6rem;
    }
}

.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #202020;
    box-shadow: 5px 0 15px rgba(5, 5, 5, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

@media screen and (max-width: 991px) {
    .sidebar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        height: calc(100vh - 4rem);
        padding-bottom: 1.5rem;
        overflow: auto;
        top: 4rem;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: -webkit-transform 0.2s linear;
        transition: transform 0.2s linear;
        transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    }

    .show-sidebar .sidebar {
        display: block;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.sidebar__header {
    height: 18rem;
    background-color: #121212;
}

.sidebar__header img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media screen and (max-width: 991px) {
    .sidebar__header {
        height: 10rem;
    }
}

.sidebar__content {
    padding: 0 2rem;
}

@media screen and (max-width: 991px) {
    .sidebar__content {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

.sidebar__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 2rem;
}

.main {
    padding: 10rem 0 8rem 300px;
}

@media screen and (max-width: 991px) {
    .main {
        padding: 7rem 0 5rem;
    }
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

@media screen and (max-width: 575px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.profile {
    margin-top: -5rem;
}

@media screen and (max-width: 991px) {
    .profile {
        margin-top: -1rem;
        position: relative;
    }
}

.profile__avatar {
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto 2rem;
    position: relative;
    border: 2px solid #fff;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

@media screen and (max-width: 991px) {
    .profile__avatar {
        width: 6.5rem;
        height: 6.5rem;
        margin-left: 0;
        position: absolute;
        left: 0;
    }
}

.profile__header {
    margin-bottom: 2rem;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .profile__header {
        padding-top: 2rem;
        padding-left: 8rem;
        text-align: left;
        border-bottom: 1px solid #1C1C1C;
    }
}

.profile__name {
    font-size: 1.8rem;
}

@media screen and (max-width: 991px) {
    .profile__name {
        font-size: 1.5rem;
    }
}

.profile__prof {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: #DEDEDE;
}

@media screen and (max-width: 991px) {
    .profile__prof {
        font-size: 1.2rem;
    }

    .profile__prof br {
        display: none;
    }
}

.profile__text {
    padding: 3rem 0;
    margin: 3rem 0;
    font-size: 1.2rem;
    text-align: center;
    border-top: 1px solid #1C1C1C;
    border-bottom: 1px solid #1C1C1C;
}

@media screen and (max-width: 991px) {
    .profile__text {
        display: none;
    }
}

.social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .social {
        display: none;
    }
}

.social__item {
    margin: 0 0.75rem;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.12em 2.1em;
    background: #121212;
    border: none;
    cursor: pointer;
    border-radius: 3em;
    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
}

.btn:focus {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.btn:hover {
    text-decoration: none;
}

.btn--red {
    background-color: #ED3024;
    box-shadow: 0 7px 17px -10px rgba(237, 48, 36, 0.3);
}

.btn--red:hover, .btn--red:focus {
    background-color: #e51f13;
}

.btn--blue {
    background-color: #3137C9;
    box-shadow: 0 7px 17px -10px rgba(49, 55, 201, 0.3);
}

.btn--blue:hover, .btn--blue:focus {
    background-color: #2c31b4;
}

.btn--rounded {
    border-radius: 0.41em;
}

.btn--sm {
    padding: 0.7em 1.25em;
}

.stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 13px;
    grid-template-rows: 195px;
    margin-bottom: 3rem;
}

@media screen and (max-width: 991px) {
    .stories {
        grid-template-columns: 140px 140px 140px 140px;
        overflow: auto;
    }
}

.stories__item {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.stories__item:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.stories__item:hover .stories__preview {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    transition-duration: 5s;
}

.stories__preview {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.stories__title,
.stories__date {
    width: 100%;
    padding: 1.4rem;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #fff;
    position: absolute;
    left: 0;
    z-index: 3;
}

.stories__title {
    top: 0;
}

.stories__date {
    bottom: 0;
    text-align: right;
}

.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;
    background-color: #121212;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

@media screen and (max-width: 575px) {
    .add-post {
        padding: 1.5rem;
    }
}

.add-post__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.add-post__textarea {
    display: block;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 34px;
    overflow: hidden;
    border: none;
    background: transparent;
    resize: none;
    font-size: 1.5rem;
    color: #fff;
    font-family: inherit;
}

.add-post__textarea::-webkit-input-placeholder {
    color: #D2D2D2;
}

.add-post__textarea::-moz-placeholder {
    color: #D2D2D2;
}

.add-post__textarea:-ms-input-placeholder {
    color: #D2D2D2;
}

.add-post__textarea::-ms-input-placeholder {
    color: #D2D2D2;
}

.add-post__textarea::placeholder {
    color: #D2D2D2;
}

.add-post__form-actions {
    width: 12rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media screen and (max-width: 575px) {
    .add-post__form-actions {
        width: 9rem;
    }
}

.add-post__file,
.add-post__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

@media screen and (max-width: 575px) {
    .add-post__file,
.add-post__send {
        width: 3.4rem;
        height: 3.4rem;
    }
}

.add-post__file {
    background: #EBEBEB url("../images/svg/add-photo.svg") center no-repeat;
}

.add-post__file input {
    display: none;
}

.add-post__file:hover {
    background-color: #dedede;
}

@media screen and (max-width: 575px) {
    .add-post__file {
        background-size: 18px;
    }
}

.add-post__send {
    margin-left: 1.5rem;
    font-size: 0;
    color: transparent;
    background: #3137C9 url("../images/svg/send.svg") center no-repeat;
}

.add-post__send:hover {
    background-color: #2c31b4;
}

@media screen and (max-width: 575px) {
    .add-post__send {
        background-size: 15px;
    }
}

.post {
    margin-bottom: 3rem;
    padding: 2.5rem;
    overflow: hidden;
    background-color: #202020;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}

@media screen and (max-width: 575px) {
    .post {
        padding: 1.5rem;
    }
}

.post__header {
    margin: 0 0 2.5rem;
}

.post__header--preview {
    margin: -2.5rem -2.5rem 2.5rem;
}

.post__preview {
    display: block;
    max-width: 100%;
    height: auto;
}

.post__content {
    margin-bottom: 2rem;
}

.post__title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.4;
    color: #fff;
    font-weight: 500;
}

.post__title a {
    color: inherit;
}

.post__title--open {
    margin-bottom: 0.75rem;
}

.post__subtitle {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}

.post__description {
    font-size: 1.4rem;
    color: #D2D2D2;
}

.post__text {
    padding-bottom: 1rem;
    font-size: 1.4rem;
    color: #fff;
    border-bottom: 1px solid #1C1C1C;
}

.post__text h2, .post__text h3, .post__text h4, .post__text h5, .post__text h6 {
    margin-bottom: 2rem;
    font-weight: 700;
}

.post__text h2 {
    font-size: 2em;
    font-weight: 700;
}

.post__text h3 {
    font-size: 1.25em;
}

.post__text h4 {
    font-size: 1.15em;
}

.post__text h5, .post__text h6 {
    font-size: 1em;
}

.post__text ul, .post__text ol {
    margin-bottom: 2rem;
}

.post__text ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.post__text p {
    margin-bottom: 2rem;
}

.post__text a {
    color: #3137C9;
}

.post__text table {
    margin-bottom: 2rem;
    width: 100%;
}

.post__text img {
    display: block;
    max-width: 100%;
    height: auto;
}

.post__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 575px) {
    .post__footer {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.post__data {
    display: -ms-flexbox;
    display: flex;
    color: #828282;
    line-height: 1.2;
}

.post__data a {
    color: inherit;
}

@media screen and (max-width: 575px) {
    .post__data {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
}

.post__data-item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 1.5rem;
    position: relative;
    top: -2px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.post__read {
    font-size: 1.4rem;
    color: #107EFF;
}

.post__actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
}

.post__actions a {
    color: inherit;
    opacity: 0.6;
    transition: opacity 0.2s linear;
}

.post__actions a:hover {
    opacity: 1;
}

.post__actions-icon {
    margin-left: 0.5rem;
}

.embed,
.fr-video {
    display: block;
    position: relative;
    overflow: hidden;
}

.embed::before,
.fr-video::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.embed iframe,
.embed video,
.embed object,
.embed embed,
.fr-video iframe,
.fr-video video,
.fr-video object,
.fr-video embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 8rem;
}

@media screen and (max-width: 575px) {
    .pagination {
        margin-top: 5rem;
    }
}

.pagination__item {
    margin: 0 0.5rem;
}

.pagination__link {
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: #0D0D0D;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 1.4rem;
    line-height: 4rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

.pagination__link:hover {
    background-color: lighten #0D0D0D, 2%;
}

.pagination__link.active {
    background-color: #3137C9;
    box-shadow: 0 0 10px rgba(49, 55, 201, 0.15);
}

.related {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #1C1C1C;
}

.related__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (max-width: 575px) {
    .related__list {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.related__list-item {
    width: 50%;
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 575px) {
    .related__list-item {
        width: 100%;
    }
}

.related__list-title {
    font-size: 1.4rem;
    color: #F3EBA2;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.related__list-title a {
    color: inherit;
}

.related__list-date {
    color: #fff;
    font-size: 1.4rem;
}

.comments {
    margin-top: 5rem;
}

.comments__item {
    margin-bottom: 3rem;
}

.comments__item > .comments {
    padding-left: 3rem;
    margin-top: 3rem;
}

@media screen and (max-width: 575px) {
    .comments__item {
        padding-left: 1.5rem;
    }
}

.comments__header {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5rem;
}

.comments__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.comments__author {
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.4;
}

.comments__name {
    color: #fff;
    font-weight: 500;
}

.comments__pubdate {
    color: #757575;
}

.comments__text {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #fff;
}

.comments__reply {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    color: #3137C9;
}

.comments__reply:hover {
    text-decoration: underline;
}

form--auth {
    max-width: 28rem;
    margin: 0 auto;
}

.form__group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form__group--md {
    margin-bottom: 2.5rem;
}

.form__control {
    display: block;
    width: 100%;
    padding: 0.5rem 0 0.75rem;
    background: none;
    border: none;
    border-bottom: 1px solid #3F3F3F;
    border-radius: 0;
    box-shadow: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: #fff;
}

.form__control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.1);
}

.form__control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.1);
}

.form__control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.1);
}

.form__control::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.1);
}

.form__control::placeholder {
    color: rgba(255, 255, 255, 0.1);
}

.form__control:focus + .form__line {
    width: 100%;
}

.form__control--textarea {
    height: 32px;
    overflow: hidden;
    resize: none;
}

.form__line {
    width: 0;
    height: 1px;
    background-color: #3137C9;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: width 0.2s linear;
}

.form__footer--center {
    text-align: center;
}

.form__footer-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.2;
}

.form__footer-list li {
    margin: 0 0.5rem;
}

.form__footer-list a {
    color: #fff;
}

.work {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3rem;
    overflow: hidden;
    background-color: #202020;
    box-shadow: 0 15px 25px #000, 0.35;
    border-radius: 5px;
}

@media screen and (max-width: 575px) {
    .work {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.work__preview {
    width: 31rem;
}

.work__preview img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media screen and (max-width: 575px) {
    .work__preview {
        width: 100%;
        height: 15rem;
    }
}

.work__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2.5rem;
    max-width: 29rem;
}

@media screen and (max-width: 575px) {
    .work__content {
        max-width: none;
        padding: 1.5rem;
    }
}

.work__title {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 500;
}

.work__title a {
    color: inherit;
}

@media screen and (max-width: 575px) {
    .work__title {
        margin-bottom: 2rem;
    }
}

.work__description {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: #D2D2D2;
    line-height: 1.68;
    font-weight: 300;
}

@media screen and (max-width: 575px) {
    .work__description {
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }
}

.work__footer {
    margin-top: auto;
    text-align: right;
}

@media screen and (max-width: 575px) {
    .work__footer {
        text-align: left;
    }
}

.tags {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.tags__item {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.4rem 0.9rem;
    background-color: #EA8C1E;
    border-radius: 3px;
    font-size: 1.1rem;
    line-height: 1.3;
    color: #fff;
    text-align: center;
    transition: background-color 0.1s linear;
}

.tags__item:hover {
    background-color: #fda33c;
}

.cabinet {
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 575px) {
    .cabinet {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.cabinet__form {
    width: 34rem;
}

@media screen and (max-width: 575px) {
    .cabinet__form {
        -ms-flex-order: 2;
        order: 2;
    }
}

.cabinet__avatar {
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 11rem;
}

.cabinet__avatar img {
    display: block;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 575px) {
    .cabinet__avatar {
        -ms-flex-order: 1;
        order: 1;
        padding-left: 0;
        margin-bottom: 2rem;
    }
}

.cabinet__file {
    font-size: 1.4rem;
    color: #3137C9;
    text-decoration: underline;
    cursor: pointer;
}

.cabinet__file input {
    display: none;
}

.cabinet__file:hover {
    text-decoration: none;
}

.modal {
    display: none;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
}

.modal.show {
    display: -ms-flexbox;
    display: flex;
}

.modal__content {
    width: 100%;
    max-width: 500px;
    padding: 8rem;
    position: relative;
    background-color: #202020;
    border-radius: 5px;
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

@media screen and (max-width: 991px) {
    .modal__content {
        padding: 5rem 3rem 3rem;
    }
}

.modal__content--contact {
    padding-bottom: 2.5rem;
}

.modal__content--store {
    padding: 0;
    background: none;
}

.modal__close {
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
    transition: transform 0.2s linear, opacity 0.2s linear;
    transition: transform 0.2s linear, opacity 0.2s linear, -webkit-transform 0.2s linear;
}

.modal__close:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 1;
}

.modal__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 4rem;
    font-size: 1.2rem;
    color: #B2B2B2;
}

.modal__footer li {
    margin: 0 0.5rem;
}

.modal__footer a {
    color: inherit;
    text-decoration: underline;
}

.modal__footer a:hover {
    text-decoration: none;
}

.modal__video {
    display: block;
    margin: 0 auto;
}